urlextract
captcha
apscheduler
ffmpeg-python
opencv-python
vanitas-antispam
aiofiles>=0.6.0
aiohttp[speedups]>=3.7.3
tracemoepy
flask

dnspython
natsort

# database
motor

# telegram clients
git+https://github.com/KurimuzonAkuma/pyrogram.git@v2.1.16
telethon

emoji

# scraping
beautifulsoup4

# image
pillow>=10.0.0
webcolors

# api
nekos.py
wikipedia
py-carbon
catbox-uploader
groq

# media metadata
hachoir

# tts
gtts
mutagen

# performance
cryptg
TgCrypto
redis>=5.0.0

orjson
